$primary-green: #4CAF4F;
$secondary-black: #263238;

$dark-grey: #4D4D4D;
$neutral-grey: #717171;
$light-grey: #89939E;

$grey-blue: #ABBED1;
$neutral-silver: #F5F7FA;
$neutral-white: #FFFFFF;

$hover-green: #43A046;
$focus-green: #388E3B;

$warning: #FBC02D;
$error: #E53835;
$success: #2E7D31;