// Headline font-size
$large-headline-fs: 4rem;
$medium-headline-fs: 2.25rem;
$small-headline-fs: 1.75rem;
$xsmall-headline-fs: 1.25rem;

// Headline line-height
$large-lh: 4.75rem;
$medium-lh: 2.75rem;
$small-lh: 2.25rem;
$xsmall-lh: 1.75rem;

// Regular font-size
$body-large-fs: 1.125rem;
$body-medium-fs: 1rem;
$body-small-fs: 0.875rem;

// Regular line-height
$body-large-lh: 1.75rem;
$body-medium-lh: 1.5rem;
$body-small-lh: 1.25rem;